{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body %}
<div class="hero-wrap js-fullheight" style="background-image: url('{% static 'images/bg_5.jpg' %}');">
  <div class="overlay"></div>
  <div class="container">
  <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
    <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Hotel</span></p>
    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Edit Profile</h1>
    </div>
  </div>
  </div>
</div>
<div class= 'row'>
    <div class ='col-md-4 mx-auto'>
      {{profile.user.username}}
      <hr>
      {{profile.phone_number}}
      <hr>
      {{profile.address}}
      <hr>
      {{profile.user.email}}
 

        <h5><a href="{% url 'accounts:profile_edit' %}">Edit Profile</a></h5>
        <h5><a href="{% url 'accounts:user_reservation' %}">My Reservation</a></h5>
        <h5><a href="{% url 'accounts:MyRoom' %}">My Room</a></h5>

    </div>
</div>
{% endblock body%}